# Ignore Visual Studio and Rider settings
.vs/
.vscode/

# Ignore build and output folders
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.cache
*.config
*.log

# Ignore database files
chat.db
chat.db-shm
chat.db-wal

# Ignore compiled assets
wwwroot/

# Ignore environment-specific configurations
appsettings.Development.json
